#products{
    width: 10rem;
    height: 10rem;
    background-color: rgb(238, 238, 238) ;
    margin: 1rem;
    padding: 1rem;
    border: 2px solid black;
    display: flex;
}

#detailsDiv{
    background-color: rgb(210, 220, 220);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-left: 200px;
    padding-right: 200px;
    padding-bottom: 100px;
  }

  img{
    height: 400px;
  }

  .linethrough {
    text-decoration: line-through;
  }

  #bannerimg{
    width: 100%;
    height: 100%;
  }

  footer {
    background-color: #2C302E;
  }
  
  .list-group-item {
    background-color: #2C302E;
  }
  
  .carousel {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .carousel_img {
    height: 200px;
    pointer-events: none;
  }

/*carousel item*/
.rec-item-wrapper {
  height: 100%;
}

/*carousel buttons*/
.rec.rec-dot {
  background-color: rgba(80,76,76, 1);
  box-shadow: 0 0 1px 3px rgba(160,228,156, 1);
}
.rec.rec-dot:hover {
  background-color: #a0e49c;
  box-shadow: 0 0 1px 3px rgba(80,76,76, 1);
}
.rec.rec-dot:active {
  background-color: rgba(80,76,76, 1);
  box-shadow: 0 0 1px 3px rgba(160,228,156, 1);
}
.rec.rec-dot:focus {
  background-color: #a0e49c;
  box-shadow: 0 0 1px 3px rgba(80,76,76, 1);
}
/*carousel arrows*/
.rec.rec.rec-arrow {
  min-width: 0.5rem;
  padding: 0.25rem;
  height: auto;
}

.rec.rec-arrow {
  border-radius: 0;
  color: rgba(80,76,76, 1);
  background-color: #a0e49c;
}
.rec.rec-arrow:focus:enabled {
  color: rgba(80,76,76, 1);
  background-color: #a0e49c;
}
.rec.rec-arrow:hover:enabled {
  color: #a0e49c;
  background-color: rgba(80,76,76, 1);
}
.rec.rec-arrow:disabled {
  cursor: auto;
}
.card-img-tops {
  width: 100%;
  height: 12vw;
  object-fit: cover;
}
.card:hover {
  transform: scale(0.9);
  transition: transform 0.2s ease;
}
.card:not(hover) {
  transform: scale(1);
  transition: transform 0.2s ease;
}
.navbar {
  background-color: #2C302E;
}
.navbarimg {
  height: 40px;
}
.navbarimg:hover {
  transform: scale(1.1);
  transition: transform 0.2s ease;
}
.navbarimg:hover {
  transform: scale(1.1);
  transition: transform 0.2s ease;
}
.navbarimg:not(:hover) {
  transform: scale(1);
  transition: transform 0.2s ease;
}
body {
  background-color: #C4C4C4;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
main {
  background-color: #FFFFFF;
}
.kuvaustiedot {
  background-color: #2C302E;
}
.kuvaus {
  background-color: #a0e49c;
}
.adminsivu {
  background-color: #a0e49c;
}
.formit {
  background-color: #474A48;
}
.ostoskoripikkukuvat1 {
  display: block;
  max-height: 180px;
  width: auto;
}
.korttibg {
  background-color: #a0e49c;
}
h4 {
  padding: 4px;
}
.btn {
  background-color: #a0e49c;
}

@media only screen and (max-width: 576px) {
  .cartImageDiv {
    width: 75% !important;
  }

  .ostoskoripikkukuvat {
    max-width: 75%;
  }
}

/* style= {
    {
    "minWidth": "25%", "maxWidth": "25%"
  }
} */